<!DOCTYPE html>
{% extends 'Sample.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Display Admin Details</h4>

                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th> Name </th>
                            <th> Email </th>
                            <th> Mobile </th>
                            <th> Username </th>
                            <th> Password </th>
                              <th> Image </th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                          <tr>

                              <td>{{ d.Name }}</td>
                              <td>{{ d.Email }}</td>
                              <td>{{ d.Mobile }}</td>
                              <td>{{ d.Username }}</td>
                              <td>{{ d.Password }}</td>
                              <td>
                                  <img src="{{ d.Image.url }}">
                              </td>
                              <td>
                                  <form action="{% url 'Editadmin' dataid=d.id %}">
                                      <button type="submit" class="btn btn-success">Edit</button>

                                  </form>
                              </td>
                               <td>
                                  <form action="{% url 'Deleteadmin' dataid=d.id %}">
                                      <button type="submit" class="btn btn-danger">Delete</button>

                                  </form>
                              </td>


                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

</body>
</html>
{% endblock %}